.titleMain {
  color: #F36D21;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.titleList {
  color: white;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 10px 0 10px 10px;
}
.titleInfo {
  color: black;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 5px 0 10px 5px;
}
